/* RESET ---- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* FIX PARA EL GRID ---- */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* FONT FACE ---- */
@font-face {
  font-family: "OpenSansBold";
  src: url("../font/OpenSans-Bold-webfont.eot");
  src: url("../font/OpenSans-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../font/OpenSans-Bold-webfont.woff") format("woff"), url("../font/OpenSans-Bold-webfont.ttf") format("truetype"), url("../font/OpenSans-Bold-webfont.svg#OpenSansBold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSansLight";
  src: url("../font/OpenSans-Light-webfont.eot");
  src: url("../font/OpenSans-Light-webfont.eot?#iefix") format("embedded-opentype"), url("../font/OpenSans-Light-webfont.woff") format("woff"), url("../font/OpenSans-Light-webfont.ttf") format("truetype"), url("../font/OpenSans-Light-webfont.svg#OpenSansLight") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url("../font/OpenSans-Regular-webfont.eot");
  src: url("../font/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../font/OpenSans-Regular-webfont.woff") format("woff"), url("../font/OpenSans-Regular-webfont.ttf") format("truetype"), url("../font/OpenSans-Regular-webfont.svg#OpenSans") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSansSemibold";
  src: url("../font/OpenSans-Semibold-webfont.eot");
  src: url("../font/OpenSans-Semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../font/OpenSans-Semibold-webfont.woff") format("woff"), url("../font/OpenSans-Semibold-webfont.ttf") format("truetype"), url("../font/OpenSans-Semibold-webfont.svg#OpenSansSemibold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Futura";
  src: url("../font/futuraorto_bold-webfont.eot");
  src: url("../futuraorto_bold-webfont.eot?#iefix") format("embedded-opentype"), url("../font/futuraorto_bold-webfont.woff") format("woff"), url("../font/futuraorto_bold-webfont.ttf") format("truetype"), url("../font/futuraorto_bold-webfont.svg#Futura") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "social-icons";
  src: url("../font/social-icons.eot");
  src: url("../font/social-icons.eot?#iefix") format("embedded-opentype"), url("../font/social-icons.woff") format("woff"), url("../font/social-icons.ttf") format("truetype"), url("../font/social-icons.svg#social-icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

.icon-twitter, .icon-linkedin, .icon-tumblr, .icon-github, .icon-pinterest, .icon-youtube, .icon-facebook {
  font-family: "social-icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.icon-twitter:before {
  content: "\e001";
}

.icon-linkedin:before {
  content: "\e006";
}

.icon-tumblr:before {
  content: "\e007";
}

.icon-github:before {
  content: "\e00d";
}

.icon-pinterest:before {
  content: "\e00f";
}

.icon-youtube:before {
  content: "\e00a";
}

.icon-facebook:before {
  content: "\e004";
}

/* GENERAL ---- */
body {
  color: white;
  background: #008081;
  font-family: "OpenSans", Helvetica, Arial;
  /* TITULOS ---- */
  /* LINKS ---- */
}
body p {
  line-height: 1.3em;
  padding-bottom: 1.5em;
  font-size: 0.9em;
}
body article li {
  list-style: circle;
  line-height: 1.3em;
  margin-left: 20px;
  font-size: 0.9em;
}
body h1, body h2, body h3, body h4, body h5, body h6 {
  font-family: "Futura", Arial, sans;
}
body h1, body h2 {
  text-transform: uppercase;
}
body h1 {
  font-size: 50px;
  text-align: center;
  margin: 0 0 1em 0;
}
body h2 {
  font-size: 30px;
  margin: 0 0 0.5em 0;
}
body h3 {
  font-size: 25px;
  margin: 0 0 1em 0;
}
body h4 {
  font-size: 20px;
  margin: 0.5em 0;
}
body a {
  text-decoration: none;
  color: white;
}
body #interna {
  margin-bottom: 200px;
}
body #interna a:hover {
  color: #001b1b;
}
body .link-contacto {
  background: url("../imagenes/contacto.png") no-repeat;
  display: block;
  height: 81px;
  line-height: 81px;
  width: 236px;
  text-align: center;
  font-size: 1.3em;
  font-family: "Futura";
  float: left;
  position: relative;
  z-index: 999999;
}

/* HEADER ---- */
header {
  height: 80px;
  position: fixed;
  width: 100%;
  background: #008081;
  z-index: 1900;
  top: 0px;
  box-shadow: 0px 0px 15px black;
}
header #logo {
  position: absolute;
  z-index: 3000;
  left: -620px;
}
header #logo a {
  display: block;
  width: 170px;
  height: 148px;
  position: absolute;
}

/* MENU ---- */
nav {
  height: 80px;
  width: 800px;
  position: absolute;
  font-family: "Futura";
  z-index: 4000;
  right: 0px;
}
nav > ul {
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0px;
}
nav > ul > li {
  position: relative;
  text-align: center;
  float: left;
  background: url("../imagenes/bg-menu.png") no-repeat bottom center;
  box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}
nav > ul > li.intranet {
  background: none;
}
nav > ul > li > a {
  height: 80px;
  display: table-cell;
  vertical-align: middle;
  width: 150px;
  text-transform: uppercase;
  font-family: "Futura";
}
nav > ul > li ul {
  display: none;
  position: absolute;
  background: #00a2a0;
  width: 150px;
}
nav > ul > li ul li {
  list-style: none;
}
nav > ul > li ul li a {
  display: block;
  padding: 10px 0;
  font-family: "OpenSans";
  font-size: 0.8em;
}
nav > ul > li ul li a:hover {
  background: #00bfb8;
}
nav > ul > li:hover, nav > ul > li.active {
  background: #00a2a0;
}
nav > ul > li:hover ul, nav > ul > li.active ul {
  display: block;
}

/* SLIDER ---- */
#slider {
  height: 600px;
  overflow: hidden;
  background: #f2f2f2;
  margin-top: 80px;
  position: relative;
}
#slider #slide-01 {
  background: url("../imagenes/foto-01.jpg") top center no-repeat;
  width: 2500px;
  height: 600px;
}
#slider #slide-02 {
  background: url("../imagenes/foto-02.jpg") top center no-repeat;
  width: 2500px;
  height: 600px;
}

#botones-slider {
  margin-left: auto;
  margin-right: auto;
  z-index: 99999;
  position: relative;
}
#botones-slider a {
  background: url("../imagenes/slider-nav.png") no-repeat;
  display: block;
  width: 50px;
  height: 48px;
  position: absolute;
  white-space: nowrap;
  text-indent: 100%;
  overflow: hidden;
  z-index: 99998;
}
#botones-slider a.slidesjs-previous {
  background-position: top left;
  left: 830px;
  top: -116px;
}
#botones-slider a.slidesjs-previous:hover {
  background-position: bottom left;
}
#botones-slider a.slidesjs-next {
  background-position: top right;
  left: 880px;
  top: -116px;
}
#botones-slider a.slidesjs-next:hover {
  background-position: bottom right;
}

/* BLOQUE DE CONTENIDO AZUL ---- */
#interna, #home-01 {
  *zoom: 1;
  background: url("../imagenes/bg-seccion.png") no-repeat top center;
  padding-top: 200px;
  position: relative;
  margin-top: -200px;
  z-index: 1800;
  min-height: 500px;
}
#interna:before, #interna:after, #home-01:before, #home-01:after {
  content: " ";
  display: table;
}
#interna:after, #home-01:after {
  clear: both;
}

/* HOME ---- */
#home-02 {
  background: url("../imagenes/bg-01.png");
  z-index: 1810;
  margin-top: -100px;
}

#home-03 {
  background: url("../imagenes/bg-02.png");
  z-index: 1820;
  margin-top: -200px;
}

#home-04 {
  background: url("../imagenes/bg-03.png");
  z-index: 1830;
  margin-top: -200px;
}

#home-02, #home-03, #home-04 {
  background-repeat: no-repeat;
  background-position: top center;
  padding-top: 200px;
  min-height: 500px;
  position: relative;
  *zoom: 1;
}
#home-02:before, #home-02:after, #home-03:before, #home-03:after, #home-04:before, #home-04:after {
  content: " ";
  display: table;
}
#home-02:after, #home-03:after, #home-04:after {
  clear: both;
}
#home-02 article, #home-03 article, #home-04 article {
  padding-bottom: 180px;
  *zoom: 1;
}
#home-02 article:before, #home-02 article:after, #home-03 article:before, #home-03 article:after, #home-04 article:before, #home-04 article:after {
  content: " ";
  display: table;
}
#home-02 article:after, #home-03 article:after, #home-04 article:after {
  clear: both;
}

.g-implementaciones, .g-umoviles, .e-implementaciones, .e-umoviles {
  display: block;
  width: 200px;
  height: 200px;
  background-position: top left;
}
.g-implementaciones:hover, .g-umoviles:hover, .e-implementaciones:hover, .e-umoviles:hover {
  background-position: top right;
}

.g-implementaciones {
  background-image: url("../imagenes/g_implementaciones.png");
}

.g-umoviles {
  background-image: url("../imagenes/g_umoviles.png");
}

.g-implementaciones {
  background-image: url("../imagenes/e_implementaciones.png");
}

.e-umoviles {
  background-image: url("../imagenes/e_umoviles.png");
}

/* TABS ---- */
#tabs > h2 {
  float: left;
  margin: 0 0 1em 0;
}
#tabs > ul {
  float: right;
}
#tabs > ul li {
  text-align: center;
  display: block;
  float: left;
  margin-right: 5px;
}
#tabs > ul li a {
  background: #01bfb9;
  font-size: 14px;
  display: table-cell;
  height: 40px;
  width: 145px;
  padding: 0 10px;
  vertical-align: middle;
}
#tabs > ul li a.active {
  background: #2ad27a;
}
#tabs > ul li:first-of-type a {
  -moz-border-radius-topleft: 20px;
  -webkit-border-top-left-radius: 20px;
  border-top-left-radius: 20px;
  -moz-border-radius-bottomleft: 20px;
  -webkit-border-bottom-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
#tabs > ul li:last-of-type a {
  -moz-border-radius-topright: 20px;
  -webkit-border-top-right-radius: 20px;
  border-top-right-radius: 20px;
  -moz-border-radius-bottomright: 20px;
  -webkit-border-bottom-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

/* FORMULARIO DE CONTACTO ---- */
.form {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 65.88078%;
  margin-top: 20px;
  border-right: 1px solid #70c1bf;
  padding-right: 20px;
  *zoom: 1;
}
.form:last-child {
  margin-right: 0;
}
.form:before, .form:after {
  content: " ";
  display: table;
}
.form:after {
  clear: both;
}
.form label {
  display: block;
  margin: 0 0 20px 0;
}
.form label span {
  width: 100px;
  display: block;
  float: left;
  line-height: 26px;
  text-align: right;
  padding-right: 10px;
}
.form label textarea, .form label input, .form label select {
  width: 400px;
  padding: 5px 10px;
  border: none;
  background: #bfdfdf;
  resize: none;
  -moz-border-radius-topleft: 20px;
  -webkit-border-top-left-radius: 20px;
  border-top-left-radius: 20px;
  -moz-border-radius-bottomleft: 20px;
  -webkit-border-bottom-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.form label.check {
  padding-left: 100px;
  padding-right: 10px;
  text-align: right;
}
.form label.check input {
  width: auto;
  padding: 0px;
  margin-right: 10px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
}
.form label textarea {
  height: 200px;
}
.form > .enviar {
  float: right;
  background: #00bfb8;
  border: none;
  outline: none;
  padding: 8px 15px;
  text-transform: uppercase;
  color: white;
  font-family: "OpenSans";
  font-size: 1em;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  box-shadow: -1px -3px 3px rgba(0, 0, 0, 0.5) inset, 0 2px 3px rgba(255, 255, 255, 0.8) inset;
}

.address {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 23.23176%;
  margin-top: 20px;
}
.address:last-child {
  margin-right: 0;
}

#aviso-privacidad {
  height: 10em;
  overflow: auto;
  margin: 20px 0;
  display: none;
}

/* PANEL DE SOCIAL MEDIA ---- */
#social {
  background: url("../imagenes/bg-socialmedia.png");
  width: 52px;
  height: 112px;
  position: fixed;
  top: 230px;
  right: 0px;
  padding-top: 20px;
  padding-left: 27px;
  z-index: 1890;
  *zoom: 1;
}
#social:before, #social:after {
  content: " ";
  display: table;
}
#social:after {
  clear: both;
}
#social a {
  display: block;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  font-size: 1.2em;
  width: 18px;
  height: 21px;
  margin-bottom: 5px;
}
#social a:hover {
  color: #008081;
}

/* BOTON ARRIBA ---- */
#top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background: url("../imagenes/bg-top.png");
  width: 100px;
  height: 100px;
  text-transform: uppercase;
  text-align: center;
  line-height: 100px;
  font-size: 0.9em;
  z-index: 2000;
}

/* FOOTER ---- */
footer {
  background: url("../imagenes/bg-footer.png") no-repeat top center;
  height: 250px;
  padding-top: 180px;
  text-align: right;
  z-index: 1990;
  position: relative;
  margin-top: -200px;
}
footer p {
  padding-bottom: 0.3em;
}

/* CLASES UTILES ---- */
.container {
  width: 800px;
  margin: 0 auto;
  position: relative;
}

.container960 {
  width: 960px;
  margin: 0 auto;
  position: relative;
}

.float-center {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}

.float-left {
  float: left;
  margin-right: 20px;
}

.float-right {
  float: right;
  margin-left: 20px;
}

.underline {
  border-bottom: 1px solid white;
}
