// vars
$spacer: 20px
$primario: #008081
$secundario: #00BFB7
$terciario: #01BFB9
$green: #2AD27A
$hover-menu: #00A2A0
$img: "../imagenes/"

// imports
@import "compass/css3"

/* RESET ---- */
@import "compass/reset"

/* FIX PARA EL GRID ---- */
@import "bourbon/bourbon"
@import "neat/neat"

/* FONT FACE ---- */
@import "_fonts"
@import "_font-social-media"

/* GENERAL ---- */
body 
	color: white
	background: $primario
	font-family: 'OpenSans', Helvetica, Arial

	p
		line-height: 1.3em
		padding-bottom: 1.5em
		font-size: .9em

	article li
		list-style: circle
		line-height: 1.3em
		margin-left: 20px
		font-size: .9em

	/* TITULOS ---- */
	h1, h2, h3, h4, h5, h6
		font-family: 'Futura', Arial, sans
	h1,h2
		text-transform: uppercase

	h1 
		font-size: 50px
		text-align: center
		margin: 0 0 1em 0
	h2
		font-size: 30px
		margin: 0 0 .5em 0
	h3
		font-size: 25px
		margin: 0 0 1em 0
	h4
		font-size: 20px
		margin: .5em 0

	/* LINKS ---- */
	a 
		text-decoration: none
		color: white
	#interna
		margin-bottom: 200px
		a:hover
			color: darken($primario, 20)
	.link-contacto
		background: url("#{$img}contacto.png") no-repeat
		display: block
		height: 81px
		line-height: 81px
		width: 236px
		text-align: center
		font-size: 1.3em
		font-family: "Futura"
		float: left
		position: relative
		z-index: 999999

/* HEADER ---- */
header 
	height: 80px
	position: fixed
	width: 100%
	background: $primario
	z-index: 1900
	top: 0px
	@include single-box-shadow(#000, 0px, 0px, 15px)
	

	#logo
		position: absolute
		z-index: 3000
		left: -620px
		a
			display: block
			width: 170px
			height: 148px
			position: absolute
			

/* MENU ---- */
nav
	height: 80px
	width: 800px
	position: absolute
	font-family: 'Futura'
	z-index: 4000
	right: 0px
	>ul
		margin: 0
		padding: 0
		position: absolute
		right: 0px
		>li
			position: relative
			text-align: center
			float: left
			background: url("#{$img}bg-menu.png") no-repeat bottom center
			@include single-box-shadow(rgba(0,0,0,.2), 0px, 0px, 5px, 0px, inset)

			&.intranet 
				background: none
			>a 
				height: 80px
				display: table-cell
				vertical-align: middle
				width: 150px
				text-transform: uppercase
				font-family: 'Futura'
			ul
				display: none
				position: absolute
				background: $hover-menu
				width: 150px

				li
					list-style: none
					a
						display: block
						padding: 10px 0
						font-family: 'OpenSans'
						font-size: .8em
						&:hover
							background: #00BFB8

			&:hover, &.active
				background: $hover-menu
				ul
					display: block

/* SLIDER ---- */
#slider
	height: 600px
	overflow: hidden
	background: #F2F2F2
	margin-top: 80px
	position: relative

	#slide-01
		background: url("#{$img}foto-01.jpg") top center no-repeat
		width: 2500px
		height: 600px
	#slide-02
		background: url("#{$img}foto-02.jpg") top center no-repeat
		width: 2500px
		height: 600px

#botones-slider
	margin-left: auto
	margin-right: auto
	z-index: 99999
	position: relative

	a 
		background: url("#{$img}slider-nav.png") no-repeat
		display: block
		width: 50px
		height: 48px
		position: absolute
		white-space: nowrap
		text-indent: 100%
		overflow: hidden
		z-index: 99998

		&.slidesjs-previous 
			background-position: top left
			left: 830px
			top: -116px
			&:hover
				background-position: bottom left

		&.slidesjs-next 
			background-position: top right
			left: 880px
			top: -116px
			&:hover
				background-position: bottom right

/* BLOQUE DE CONTENIDO AZUL ---- */
#interna, #home-01
	@include clearfix
	background: url("#{$img}bg-seccion.png") no-repeat top center
	padding-top: 200px
	position: relative
	margin-top: -200px
	z-index: 1800
	min-height: 500px

/* HOME ---- */
#home-02 
	background: url("#{$img}bg-01.png")
	z-index: 1810
	margin-top: -100px
#home-03 
	background: url("#{$img}bg-02.png")
	z-index: 1820
	margin-top: -200px
#home-04 
	background: url("#{$img}bg-03.png")
	z-index: 1830
	margin-top: -200px

#home-02, #home-03, #home-04 
	background-repeat: no-repeat
	background-position: top center
	padding-top: 200px
	min-height: 500px
	position: relative
	@include clearfix

	article
		padding-bottom: 180px
		@include clearfix

.g-implementaciones, .g-umoviles, .e-implementaciones, .e-umoviles
	display: block
	width: 200px
	height: 200px
	background-position: top left

	&:hover
		background-position: top right

.g-implementaciones
	background-image: url("#{$img}g_implementaciones.png")
.g-umoviles
	background-image: url("#{$img}g_umoviles.png")
.g-implementaciones
	background-image: url("#{$img}e_implementaciones.png")
.e-umoviles
	background-image: url("#{$img}e_umoviles.png")


/* TABS ---- */
#tabs 
	>h2 
		float: left
		margin: 0 0 1em 0

	>ul
		float: right
		li 
			text-align: center
			display: block
			float: left
			margin-right: 5px
			a
				background: $terciario
				font-size: 14px
				display: table-cell
				height: 40px
				width: 145px
				padding: 0 10px
				vertical-align: middle
		li a.active
			background: $green

		li:first-of-type a
			@include border-top-left-radius(20px)
			@include border-bottom-left-radius(20px)
		li:last-of-type a
			@include border-top-right-radius(20px)
			@include border-bottom-right-radius(20px)

/* FORMULARIO DE CONTACTO ---- */
.form
	@include span-columns(8)
	margin-top: $spacer
	border-right: 1px solid #70C1BF
	padding-right: $spacer
	@include clearfix
	label
		display: block
		margin: 0 0 $spacer 0
		span
			width: 100px
			display: block
			float: left
			line-height: 26px
			text-align: right
			padding-right: 10px
		textarea, input, select
			width: 400px
			padding: $spacer/4 $spacer/2
			border: none
			background: #BFDFDF
			resize: none
			@include border-top-left-radius(20px)
			@include border-bottom-left-radius(20px)

		&.check
			padding-left: 100px
			padding-right: 10px
			text-align: right
			input
				width: auto
				padding: 0px
				margin-right: $spacer/2
				@include border-radius(0px)

		textarea
			height: 200px
	>.enviar
		float: right
		background: #00bfb8
		border: none
		outline: none
		padding: 8px 15px
		text-transform: uppercase
		color: white
		font-family: "OpenSans"
		font-size: 1em
		@include border-radius(15px)
		@include box-shadow(-1px -3px 3px rgba(0, 0, 0, .5) inset, 0 2px 3px rgba(255, 255, 255, .8) inset)

.address
	@include span-columns(3)
	margin-top: $spacer

#aviso-privacidad
	height: 10em
	overflow: auto
	margin: $spacer 0
	display: none

/* PANEL DE SOCIAL MEDIA ---- */
#social
	background: url("#{$img}bg-socialmedia.png")
	width: 52px
	height: 112px
	position: fixed
	top: 230px
	right: 0px
	padding-top: 20px
	padding-left: 27px
	z-index: 1890
	@include clearfix

	a
		display: block
		text-shadow: 2px 2px 3px rgba(0,0,0,.5)
		font-size: 1.2em
		width: 18px
		height: 21px
		margin-bottom: 5px

		&:hover
			color: $primario

/* BOTON ARRIBA ---- */
#top 
	position: fixed
	bottom: 30px
	right: 30px
	background: url("#{$img}bg-top.png")
	width: 100px
	height: 100px
	text-transform: uppercase
	text-align: center
	line-height: 100px
	font-size: .9em
	z-index: 2000

/* FOOTER ---- */
footer
	background: url("#{$img}bg-footer.png") no-repeat top center
	height: 250px
	padding-top: 180px
	text-align: right
	z-index: 1990
	position: relative
	margin-top: -200px

	p
		padding-bottom: .3em

/* CLASES UTILES ---- */
.container
	width: 800px
	margin: 0 auto
	position: relative

.container960
	width: 960px
	margin: 0 auto
	position: relative

.float-center 
	display: block
	margin: 0 auto
	margin-bottom: $spacer
.float-left
	float: left
	margin-right: $spacer
.float-right
	float: right
	margin-left: $spacer
.underline
	border-bottom: 1px solid #FFF