!!! 5
html
	include includes/head
	
	body
		include includes/header

		include includes/slider

		section#interna

			.container
				
				h1 LABORATORIOS 
				
				// easy-tabs
				#tabs

					h2 COMUNIDAD MÉDICA
					ul
						li
							a(href="#menu-01") Tipos de Exámenes
						li
							a(href="#menu-02") Laboratorios Quimicos
						li
							a(href="#menu-03") Cursos de Actualización
					br(clear="all")
					article#menu-01 
						h3 Tipos de Exámenes
						img(src="http://placehold.it/960x150").float-center
						p Cupcake ipsum dolor sit amet jelly. Cheesecake jelly lemon drops cookie pudding. Oat cake icing candy cookie lemon drops danish muffin. Gummies donut  chocolate cake  donut chupa chups. Danish sugar plum liquorice ice cream croissant sesame snaps.
						p Ice cream candy canes cookie marzipan dragée muffin brownie topping. Jelly-o jelly gingerbread tart biscuit candy muffin sugar plum liquorice. Sesame snaps jujubes danish donut. Marshmallow applicake apple pie macaroon caramels chocolate bar cupcake lemon drops pastry.
					
					article#menu-02
						h3 Laboratorios Quimicos
						img(src="http://placehold.it/300x200").float-left
						p Cupcake ipsum dolor sit amet jelly. Cheesecake jelly lemon drops cookie pudding. Oat cake icing candy cookie lemon drops danish muffin. Gummies donut  chocolate cake  donut chupa chups. Danish sugar plum liquorice ice cream croissant sesame snaps.
						p Ice cream candy canes cookie marzipan dragée muffin brownie topping. Jelly-o jelly gingerbread tart biscuit candy muffin sugar plum liquorice. Sesame snaps jujubes danish donut. Marshmallow applicake apple pie macaroon caramels chocolate bar cupcake lemon drops pastry.

					article#menu-03
						h3 Cursos de Actualización
						img(src="http://placehold.it/300x200").float-right
						p Cupcake ipsum dolor sit amet jelly. Cheesecake jelly lemon drops cookie pudding. Oat cake icing candy cookie lemon drops danish muffin. Gummies donut  chocolate cake  donut chupa chups. Danish sugar plum liquorice ice cream croissant sesame snaps.
						p Ice cream candy canes cookie marzipan dragée muffin brownie topping. Jelly-o jelly gingerbread tart biscuit candy muffin sugar plum liquorice. Sesame snaps jujubes danish donut. Marshmallow applicake apple pie macaroon caramels chocolate bar cupcake lemon drops pastry.

		include includes/footer
		include includes/static