!!! 5
html(lang='es-MX')
	include includes/head
	
	body
		include includes/header

		include includes/slider

		section#interna

			.container
				
				h1 Contacto 
				p Para nosotros es muy importante tu opinión. Por lo mismo nos ponemos a tus órdenes para resolver cualquier tipo de duda o aclaración, o cualquier tipo de comentario al respecto.
				.form
					label 
						span Nombre: 
						input(type="text")
					label 
						span Empresa:
						input(type="text") 
					label 
						span E-mail: 
						input(type="text") 
					label 
						span Teléfono:
						input(type="text")
					label 
						span Mensaje:
						textarea
					button(type="submit") Enviar
				.address
					h3 Corporativo

					h4 Dirección
					p Av. de las Aguilas 56
						br
						| Col. las Aguilas
						br
						| Del. Álvaro Obregón
						br
						| C.P. 5623

					h4 Teléfonos
					p (55) 5668-3805
						br
						| (55) 5595-0838

					h4 E-mail
					p 
						a(href="mailto:info@velemed.com.mx") info@velemed.com.mx
						

		include includes/footer
		include includes/static