!!! 5
html(lang='es-MX')
	include includes/head
	
	body
		include includes/header

		include includes/slider

		section#home-01
			#botones-slider.container960

			article.container
				h1 Bienvenido a Velemed 
				p Somos una empresa mexicana socialmente responsable y comprometida con el cuidado de la salud para mejorar la calidad de vida de las personas y aumentar la productividad del capital humano en empresas e instituciones.Ice cream candy canes cookie marzipan dragée muffin brownie topping. Jelly-o jelly gingerbread tart biscuit candy muffin sugar plum liquorice. Sesame snaps jujubes danish donut. Marshmallow applicake apple pie macaroon caramels chocolate bar cupcake lemon drops pastry.
				p Contamos con tres unidades de negocio enfocadas a resolver las necesidades específicas de nuestros clientes mediante el uso de técnicas de vanguardia y tecnología de punta. Si eres doctor o especialista, te invitamos a conocer los beneficios de participar en nuestro Programa Médicos Afiliados.

		section#home-02

			article.container
				// a(class="fancybox-media", href="http://www.youtube.com/watch?v=opj24KnzrWo").float-left
					img(src="http://placehold.it/300x400/DDF4A4")
				img(src="http://placehold.it/400x224/DDF4A4", alt="placeholder").float-left
				.home-texto
					h2 Laboratorio 
					p Descubre la diferencia VELEMED. En nuestras clínicas ponemos al alcance de todo público los métodos y equipos de diagnóstico más avanzados en México a precios justos y competitivos. Como  siempre, brindando el mejor trato gracias a nuestro compromiso de satisfacción por excelencia.
					p Estamos convencidos de que la salud es la principal herramienta de nuestras vidas y por ello queremos fomentar una cultura de conciencia de prevención y bienestar. A través del Programa Médicos Afiliados podrás tener acceso a cursos de actualización y muchos otros beneficios para ti y para tus pacientes.
					a(href="contacto.html").link-contacto contacto
		section#home-03

			article.container
				a(href="").g-implementaciones.float-right
				a(href="page.html").g-umoviles.float-right
				.home-texto
					h2 Gobierno
					p En colaboración con los diferentes servicios de salud en México, hemos desarrollado programas de apoyo para brindar diagnósticos de alta calidad y tratamientos de vanguardia al sector social de la población.
					p En el 2007 iniciamos en conjunto con el Gobierno del Distrito Federal el proyecto Medibuses para la capital del país. Hoy en día éste programa lleva avanzados servicios de laboratorio a las comunidades más vulnerables en toda la República. 
					a(href="contacto.html").link-contacto contacto
		
		section#home-04

			article.container
				a(href="page.html").e-implementaciones.float-left
				a(href="page.html").e-umoviles.float-left
				.home-texto
					h2 Empresas 
					p Somos líderes en México en el área de diagnósticos y servicios preventivos de salud, a fin de evitar riesgos de trabajo, aumentar la productividad y mejorar la calidad de vida de quienes laboran en empresas, fábricas e instituciones.
					p Contamos con las únicas unidades móviles con certificación de calidad ISO 9001:2008 en México, diseñadas para dar el mejor servicio de diagnóstico clínico e imagenología en tus propias instalaciones y en el menor tiempo posible, reduciendo así los tiempos perdidos y el ausentismo.

				a(href="contacto.html").link-contacto contacto

		include includes/footer
		include includes/static