header
	.container
		#logo
			img(src="img/logo-velemed.png", width="311", height="148")
		nav
			ul
				li
					a(href="") Nosotros
					ul
						li
							a(href="") Filosofía
						li
							a(href="") Valores
						li
							a(href="") Responsabilidad Social
						li
							a(href="") Reconocimientos
				li
					a(href="") Gobierno
					ul
						li
							a(href="") Presentación 
						li
							a(href="") Implementaciones
						li
							a(href="") Unidades Móviles
						li
							a(href="") Casos de Éxito
						li
							a(href="") Galería
						li
							a(href="") Contacto
				li
					a(href="") Empresas
					ul
						li
							a(href="") Presentación 
						li
							a(href="") Medicina Preventiva
						li
							a(href="") Pruebas Rápidas
						li
							a(href="") Casos de Éxito
						li
							a(href="") Galería
						li
							a(href="") Contacto
				li
					a(href="") Laboratorios Clinicos
					ul
						li
							a(href="") Público 
						li
							a(href="") Sucursales
						li
							a(href="") Comunidad Médica
						li
							a(href="") Bolsa de Trabajo
						li
							a(href="") Galería
				li
					a(href="") Intranet