head
	meta(charset='utf-8')
	title Velemed             
	meta(name='description', content='')
	meta(name='viewport', content='width=device-width')
	link(rel='stylesheet', href='css/styles.css') 

	script(src='js/jquery-1.8.3.min.js')
	script(src='js/jquery.hashchange.min.js')
	script(src='js/jquery.easytabs.min.js')
	script(src='js/scripts.js')
	//if lt IE 9
		script(src='js/html5shiv.js')