header
	.container
		#logo
			a(href="index.html")
			img(src="img/logo-velemed.png", width="311", height="148")
		nav
			ul
				li
					a(href="page.html") Nosotros
					ul
						li
							a(href="page.html") Filosofía
						li
							a(href="page.html") Valores
						li
							a(href="page.html") Responsabilidad Social
						li
							a(href="page.html") Reconocimientos
				li
					a(href="page.html") Gobierno
					ul
						li
							a(href="page.html") Presentación 
						li
							a(href="page.html") Implementaciones
						li
							a(href="page.html") Unidades Móviles
						li
							a(href="page.html") Casos de Éxito
						li
							a(href="page.html") Galería
						li
							a(href="page.html") Contacto
				li
					a(href="page.html") Empresas
					ul
						li
							a(href="page.html") Presentación 
						li
							a(href="page.html") Medicina Preventiva
						li
							a(href="page.html") Pruebas Rápidas
						li
							a(href="page.html") Casos de Éxito
						li
							a(href="page.html") Galería
						li
							a(href="page.html") Contacto
				li
					a(href="page.html") Laboratorios Clinicos
					ul
						li
							a(href="page.html") Público 
						li
							a(href="page.html") Sucursales
						li
							a(href="page.html") Comunidad Médica
						li
							a(href="page.html") Bolsa de Trabajo
						li
							a(href="page.html") Galería
				li.intranet
					a(href="page.html") Intranet